<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>logitech-cam-settings</string>

        <key>WorkingDirectory</key>
        <string>/Users/aluberg/Code/unfuck-logitech-camera-settings/build/</string>

        <key>EnableGlobbing</key>
        <true/>

        <key>ProgramArguments</key>
        <array>
          <string>./daemon</string>
          <string>1133</string>
          <string>2142</string>
          <string>run.sh</string>
        </array>

        <key>KeepAlive</key>
        <true/>

        <key>StandardErrorPath</key>
        <string>/tmp/logitech-cam-settings.err</string>

        <key>StandardOutPath</key>
        <string>/tmp/logitech-cam-settings.out</string>

    </dict>
</plist>
